<div class="input-group mb-3">
    <label for="" class="form-control">Sender's Name:</label>
    <input name="senderName" class="form-control" type="text" value="<%= product.senderName %>">
</div>

<div class="input-group mb-3">
    <label for="" class="form-control">Sender's Number:</label>
    <input name="senderNumber" class="form-control" type="number" value="<%= product.senderNumber %>">
</div>

<div class="input-group mb-3">
    <label for="" class="form-control">Sender's Address:</label>
    <textarea class="form-control" name="senderAddress" ><%= product.senderAddress %></textarea>
</div>

<div class="input-group mb-3">
    <label for="" class="form-control">Receiver's Name:</label>
    <input name="receiverName" class="form-control" type="text" value="<%= product.receiverName %>">
</div>

<div class="input-group mb-3">
    <label for="" class="form-control">Receiver's Number:</label>
    <input name="receiverNumber" class="form-control" type="number" value="<%= product.receiverNumber %>">
</div>

<div class="input-group mb-3">
    <label for="" class="form-control">Receiver's Address:</label>
    <textarea class="form-control" name="receiverAddress" ><%= product.receiverAddress %></textarea>
</div>


