<label for="">First Name</label>: <span><%= user.firstName %> </span><br>
<label for="">Last Name</label>: <span><%= user.lastName %> </span><br>
<label for="">Email</label>: <span><%= user.email %> </span><br>
<label for="">Number</label>: <span><%= user.phoneNumber %> </span><br>
<label for="">Role</label>: <span><%= user.role %> </span><br>
