<style>
    a{
        text-decoration: none;
    }
</style>

<div class="container">
    <div class="card border-warning">
        <div class="card-header">
            <h5><%= user.firstName %> <%= user.lastName %></h5>
        </div>
        <div class="card-body">
          <h4>Info</h4>
          <hr>
          <h5 class="card-title"><%= user.role %> </h5>
          <h5 class="card-title">Nember: <a href="tel:<%= user.phoneNumber %>"><%= user.phoneNumber %></a> </h5>
          <h5 class="card-text">Email: <%= user.email %>.</h5>
        </div>
        <a href="/user/<%= user.id %>/edit">
            <button class="btn btn-lg btn-warning w-100 mb-2">Edit</button>
        </a>
        <%- include('../../partials/delete', {url: `/user/${user.id}`}) %> 
    </div>
</div><br><br>